<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: head}"></div>
<div class="login_div">
<form action="login" method="post">
    <input type="hidden" name="redirectURI" th:value="${redirectURI}">
    <input type="text" name="memberEmail" placeholder="이메일"><br>
    <input type="text" name="memberPw" placeholder="비밀번호"><br>
    <input type="submit" value="로그인">
        <button onclick="goToSavePage()" width="450"height="300" >회원가입</button>
</form>
    </div>
<script th:inline="javascript">
    function goToSavePage() {
        window.location.href = "/save";
    }
</script>
<div th:replace="~{component/footer :: footer}"></div>
</body>
</html>