<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/cartegory2 :: head}"></div>
<div th:replace="~{component/header :: head}"></div>

<div class="container">
    <!-- TOP
    <div class="top">
        <span>TOP (1000 x 80) <br/> #FF5E00;</span>
    </div>
-->
    <!-- MIDDLE -->
    <div class="middle">

        <div class="middle-left">
            <div class="middle-left-1"><span>인기노래 <br/> #FF00DD;</span></div>
            <div class="middle2">
                <div class="middle-left-2"><span>뉴스 페이지 <br/> #FFE400;</span></div>
                <div class="middle-left-3"><span>유튜브 스트리밍 <br/> #99E000;</span></div>
            </div>
        </div>

        <div class="middle-right">

            <div class="middle-right-1">
                <!-- 로그인 페이지 -->

                <div class="login_wrap" id="gnbLoginDiv">
                    <div class="button_login">
                        <div class="top-area">
                            <a href="/login" title="회원가입 - 페이지 이동">회원가입</a>
                        </div>
                        <button type="button" class="btn_login" onclick="login_fn()">
                            <span class="odd_span">로그인</span>
                        </button>
                        <!--<button type="button" onclick="login_fn()" width="450"height="300" >로그인</button> -->
                    </div>
                </div>

            </div>
            <div class="middle-right-2"><span>인기차트 <br/> #FFE400;</span></div>
            <div class="middle-right-3"><span>RIGHT3 (380 x 170) <br/> #99E000;</span></div>

        </div>

    </div>
    <!--
        <div class="bottom"><span>BOTTOM (1000 x 100) <br/> #5D5D5D;</span></div>
    -->
</div>

<div th:replace="~{component/footer :: footer}"></div>
</body>
</html>