<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="member/save" method="post">
    <input type="text" name="memberNickname" placeholder="닉네임"><br>
    <input type="text" name="memberEmail" placeholder="이메일"><br>
    <input type="text" name="memberPw" placeholder="비밀번호"><br>
    <input type="text" name="memberName" placeholder="이름"><br>
    <div>
        <!-- 주민번호 (앞,뒷자리) -->
        <input type="text" id="front_number" name="jumin1" placeholder="ex)000101" style="width: 71px;"> -
        <input type="text" id="back_number" name="jumin2" placeholder="뒷자리" style="width: 71px;">
    </div>
    <input type="text" name="memberMobile" placeholder="전화번호"><br>
    <input type="submit" class="btn btn-primary" value="회원가입">
</form>

</body>
</html>