<!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>

<body>
<div th:replace="~{component/header :: head}"></div>
<!--    <div th:replace="~{component/nav :: nav}"></div>-->
    <div class="hot_issue">
        <h2>
            <span class="title_link">현재 인기있는 뉘우스</span>
            <span class="txt_intro">2023-10-31 update</span>
        </h2>
        <ul class="sub_list" style="display: block;">
            <li class="issue_list04">
                <dl class="m10">
                    <dd class="mov_area"></dd>
                    <dt>
                        <a href="https://html5.gamedistribution.com/6bf29e0982a64f898a81c3f3612aba26/">
                            <img class="img_thumbnail" src="/img/rumigosu.jpg">
                            <span class="title">김범수 그는 신인가?</span>
                            <span class="news_detail">숨은 루미큐브 장인을 소개합니다</span>
                        </a>
                    </dt>
                </dl>
            </li>
        </ul>
        <ul>

        </ul>
    </div>



    <div th:replace="~{component/footer :: footer}"></div>
 </body>
</html>
<h2>ㅄㅄ</h2>
