<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="save" method="post">
    <input type="text" name="memberNickname" placeholder="닉네임"><br>
    <input type="text" name="memberEmail" placeholder="이메일"><br>
    <input type="text" name="memberPw" placeholder="비밀번호"><br>
    <input type="text" name="memberName" placeholder="이름"><br>
    <input type="text" name="memberMobile" placeholder="전화번호"><br>
    <input type="submit" value="회원가입">


</form>

</body>
</html>