<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>

<body>
<div th:replace="~{component/header :: head}"></div>
<div class="container">
  <div class="search_contents"> <span> 검색결과 1</span> </div>
  <div class="search_contents"> <span> 검색결과 2</span> </div>
  <div class="search_contents"> <span> 검색결과 3</span> </div>
</div>

<div th:replace="~{component/footer :: footer}"></div>
</body>
</html>
<h2>ㅄㅄ</h2>
