<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #login-area {
            /*float: right; !* 우측으로 부동시킴 *!*/
            margin-right: 10px; /* 우측 여백 설정 */
        }
    </style>
</head>
<body>

<div style="width:1250px" align="center">
    <div class="cartegory_bar">
        <div th:fragment="head" id="head">
            <div class="category">
                <ul class="category">
                    <li class="category-bar">
                        <p th:text="|${session.loginNickname} 님 환영합니다!|"></p> &nbsp; &nbsp;
                        <a href="/member/logout">로그아웃</a> &nbsp; &nbsp;
                        <a href="/member/myPage">마이페이지</a> &nbsp; &nbsp;
                        <a href="/static">공지사항</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>