<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!--<div th:fragment="bar" id="bar">-->
<!-- <ul class="searchbar"></ul>-->
<!--</div>-->
<!--<div th:fragment="nav" id="nav">-->
<!--  <ul class="menu">-->
<!--    <li class="menu-item">-->
<!--      <a href="/">실시간100</a>-->
<!--    </li>-->
<!--    <li class="menu-item">-->
<!--      <a href="/save">최신음악</a>-->
<!--    </li>-->
<!--    <li class="menu-item">-->
<!--      <a href="/list">장르음악</a>-->
<!--    </li>-->
<!--    <li class="menu-item">-->
<!--      <a href="/list">지금뜨는아티스트</a>-->
<!--    </li>-->
<!--    <li class="menu-item">-->
<!--      <a href="/list">장르음악</a>-->
<!--    </li>-->
<!--       <li class="menu-item">-->
<!--      <a href="/list">매거진</a>-->
<!--    </li>-->
<!--    <li class="menu-item" id="login-area">-->

<!--    </li>-->
<!--  </ul>-->
<!--  <script th:inline="javascript">-->
<!--    const loginArea = document.getElementById("login-area");-->
<!--    const loginEmail = [[${session.loginEmail}]];-->
<!--    console.log(loginEmail);-->
<!--    // console.log(loginEmail.length);-->
<!--    if (loginEmail != null) {-->
<!--      // 로그인 했음-->
<!--      loginArea.innerHTML = "<a href='/detail'>" + loginEmail + "님 환영해요!</a>" +-->
<!--              "<a href='/logout'>logout</a>"-->
<!--               + "<a href='/boardSave'>글작성</a>"-->

<!--    } else {-->
<!--      // 로그인 안했음-->
<!--      loginArea.innerHTML = "<a href='/login'>로그인</a>";-->
<!--    }-->
<!--  </script>-->
<!--</div>-->

</body>
</html>